@import "bootstrap/dist/css/bootstrap.min.css";
@import "../../public/css/fontawesome.min.css";
@import "../../public/css/brands.min.css";
@import "../../public/css/solid.min.css";


.bg-navbar {
    background-color: #fff4ec ;
}

.btn-login {
    background-color: #014e38;
}

.btn-login-outline {
  border:#014e38 1px solid;
}


.hover-btn-login:hover {
    background-color: #015d42;
    color: white;
}